
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/helvetica-neue-bold/helvetica-neue-bold.ttf) format('truetype') /* Safari, Android, iOS */;
}

body{
	font-family: 'HelveticaNeue', Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.42857143;
	color: #777777;
}
a,
a:link,
a:visited,
a:hover,
a:active{
	color: #AF1F5F;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}
a.abc:hover{
	color: #000;
	background: #FFF;
}
#login-title h2{
	font-size: 1.8em;
	font-weight: bold;
	margin: -0.6em 0 1em 1.5em;
	color: #907265;
}
.navbar-default .navbar-brand {
	color: #FFFFFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color: #FFFFFF;
	background-color: transparent;
}
.navbar-exams{
	min-height: 0;
	margin: 0;
}
.navbar-exams ul{
	color: #FFF;
}
.navbar-exams a{
	padding: .25em !important;
}
.hm-nav{
	background: #AF1F5F;
}

.hm-upper-logo{
	margin: -.6em 0;
}
.btn{
	background: #FFF;
}
.hm-btn-default{
	color: #AF1F5F;
	border: 2px solid #AF1F5F;
	-webkit-transition: 0.5s;
   	-moz-transition: 0.5s;
   	-o-transition: 0.5s;
}
.hm-btn-default:hover{
	color: #FFF;
	background-color: #AF1F5F;
}
.btn-danger, .btn-danger:hover{
	color: #FFF;
	background-color: #AF1F5F;
	 border: 1px solid #AF1F5F;
	 -webkit-transition: 0.5s;
	 -moz-transition: 0.5s;
	 -o-transition: 0.5s;
 }
/*.btn-danger:hover{*/
	/*color: #FFF;*/
	/*background-color: #AF1F5F;*/
/*}*/
 #title #subtitle h2{
	text-align: right;
	width: 9.5em;
 	font-size: 1.8em;
 	font-weight: bold;
 	margin: 0 auto;
	margin-top: -.5em;
 }

.link a,  #title h5{
	color: #AF1F5F;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.patient-button, .exam-button{
	min-width: 120px;
	text-transform: uppercase;
	font-weight: bold;
}

.dashboard-icon
{
	/*display: inline-block;*/
	margin: 0 auto;
	max-width: 270px;
}

.img-icon{
	margin: 1.5em;
	height: 100px;
}
.form-control:focus {
	-webkit-box-shadow: none; 
	box-shadow: none;
	border-color: #AF1F5F; 
}

.hm-form {
	max-width: 350px;
}
.col-centered{
	float: none;
	margin: 0 auto;
}
.btn-default {
	color: #AF1F5F;
	border: 2px solid #AF1F5F;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}
.hm-button {
	min-width: 200px;
}
.hm-button, .calc-button, .recalc-button, .save-button {
	font-weight: bold;
	text-transform: uppercase;
}
/*
.error p{
	font-size: 95%;
	font-weight: bold;
	color: #AF1F5F;
	margin-bottom: .25em;
}
*/
/* Utility classes */
.break-one{
	margin-top: 1em;
}
.break-two{
	margin-top: 2em;
}
.break-three{
    margin-top: 3em;
}
.break-four{
	margin-top: 4em;
}
.center-block{
	float: none;
	margin: 0 auto;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.nav-tabs-custom>.nav-tabs>li.active {
	border-top-color: #AF1F5F;
}
/*

/!* Das28 tabs *!/
#examTab li > a,
.question-content h3
{
	color: #AF1F5F;
	font-weight: bold;
}
#examTab li.active > a{
	color: #000;
}
.output {
  border: 2px solid #AF1F5F;
  padding: .3em;
  border-radius: .4em;
  font-size: 130%;
  font-weight: bold;
  width: 3.5em;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.range, .percent-box{
	font-size: 18px;
	font-weight: bold;
	margin-left: .2em;
}
*/
#subtitle h2, .question-content h3, #copyright-info{
 	color: #907265;
}
/*

/!* Tables *!/
.hm-table {
	display: none;
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #AF1F5F;
	
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.hm-table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.hm-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.hm-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}
.hm-table table tr:first-child td:last-child {
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}.hm-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}.hm-table tr:hover td{
	background-color:#ffffff;
		

}
.hm-table td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #AF1F5F;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:5px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#AF1F5F;
}.hm-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.hm-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.hm-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.hm-table tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
	border:0px solid #AF1F5F;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#AF1F5F;
}
.hm-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
}
.hm-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.hm-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


/!* Smartphones (portrait) ----------- *!/
@media only screen and (max-width : 320px) {
/!* Styles *!/
	
	/!*#upper .logo{
		padding: 0;
		margin: 0;
	}*!/
}


/!* iPads (portrait and landscape) ----------- *!/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/!* Styles *!/
	
}

/!* iPads (landscape) ----------- *!/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/!* Styles *!/
}

/!* iPads (portrait) ----------- *!/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/!* Styles *!/
}

/!* Desktops and laptops ----------- *!/
@media only screen and (min-width : 1224px) {
/!* Styles *!/
}

/!* Large screens ----------- *!/
@media only screen and (min-width : 1824px) {
/!* Styles *!/
}

/!* iPhone 4 ----------- *!/
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/!* Styles *!/
	
}v*/


input[type=range].hm-slider {
	-webkit-appearance: none;
	display: inline-block;
	max-width: 250px;
	padding-left: .5em;
	padding-right: .5em;
	margin: 1em auto 1.3em;
}
input[type=range].hm-slider:focus {
	outline: none;
}
input[type=range].hm-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 2.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ffffff;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range].hm-slider::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}
input[type=range].hm-slider:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}
input[type=range].hm-slider::-moz-range-track {
	width: 100%;
	height: 2.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ffffff;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range].hm-slider::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #ffffff;
	cursor: pointer;
}
input[type=range].hm-slider::-ms-track {
	width: 100%;
	height: 2.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range].hm-slider::-ms-fill-lower {
	background: #f2f2f2;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].hm-slider::-ms-fill-upper {
	background: #ffffff;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].hm-slider::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #ffffff;
	cursor: pointer;
	height: 2.4px;
}
input[type=range].hm-slider:focus::-ms-fill-lower {
	background: #ffffff;
}
input[type=range].hm-slider:focus::-ms-fill-upper {
	background: #ffffff;
}
.range, .percent-box{
	font-size: 1.2em;
	font-weight: bold;
	margin-left: .2em;
}
.output {
	border-width: .2em;
	border-radius: .5em;
	max-width: 50px;
	text-align: center;
}
.small-box, .small-box:hover {
	color: #FFF !important;
	text-decoration: none;
}
.small-box-footer, .small-box-footer:hover {
	padding: .6em !important;
}
.content-header{
	padding: 5px 15px 10px 15px;
}
.content-header>h1 {
	margin: 0;
	font-size: 1.6em;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 24px;
}